body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #b08357;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Предотвращает горизонтальную прокрутку */
}

.navbar-brand,
.nav-link {
  color: #888888;
}
.navbar-brand,
.nav-link {
  color: #6a4d17;
}
.navbar-toggler-icon {
  /* background-color: #ffffff; Цвет иконки переключателя навигации */
}
.navbar {
  background-color: #ffefd5 !important; /* Цвет фона навигационной панели */
}
.navbar-brand,
.nav-link:hover {
  color: #000000dc;
}

.popa {
  position: relative;
  width: 100%;
  max-width: 1024px;
  height: auto;
  margin: 20px auto;
  background-color: #ffffff;
  box-shadow: 0 0 10px #3e2616;
  border-radius: 10px;
  overflow: hidden;
}

canvas {
  width: 100%;
  height: 100%;
}

.col-md-10 {
  padding: 20px;
  border-radius: 20px;
}

.content {
  padding: 35px;
  margin: 20px;
  color: rgb(0, 0, 0);
  text-align: justify;
  border-radius: 10px;
  box-shadow: 0 0 5px #3e2616;
  background-color: #ffefd5;
}
.content a {
  color: #683f26;
  font-weight: bold;
}
.content a:hover {
  color: #6e5b4e;
  font-weight: bold;
}
.content p {
  padding: 10px;
  font-size: 1.2pc;
}
.content h1 {
  color: #53331f;
}
.content audio {
  color: #683f26;
  display: block; /* Устанавливаем аудио как блочный элемент */
  margin: auto; /* Центрируем по горизонтали */
}
.content img {
  display: block; /* Устанавливаем изображение как блочный элемент */
  max-width: 100%; /* Ограничиваем максимальную ширину изображения */
  height: auto; /* Поддерживаем соотношение сторон */
  margin: auto; /* Центрируем по горизонтали */
  padding-top: 10px;
}
.content em {
  color: #683f26;
}

/* Медиа-запросы для адаптации под телефоны */
@media (max-width: 768px) {
  .popa {
    width: 320px;
    height: 80px !important;
    margin: 10px auto; /* Уменьшаем внешние отступы */
  }
  .content {
    padding: 10px;
    margin: 10px;
  }
  .content p {
    font-size: 1em;
  }
  .content h1 {
    font-size: 1.5em;
    text-align: center;
  }
  canvas {
    width: 320px;
    height: 80px;
  }
}
